.js-nameInput {
  appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.js-nameInput::placeholder {
  color: white;
  opacity: 0.7;
}

.js-nameInput:focus,
.js-nameInput:active {
  outline: none;
}

.js-nameText {
  font-size: 36px;
  margin-bottom: 20px;
}

.js-name {
  margin-bottom: 50px;
}
